* {
    box-sizing: border-box;
}
body {
    background-color: #1F2933;
    color: #F9FAFB;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin: 0;
}
header {
    background-image: linear-gradient(to top, #202f3e, #27333eb1);
    margin-bottom: 4em;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.525);
}
#navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}
#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
#navbar #site-name {
    font-size: 30px;
}
#navbar #site-name:hover {
    color: #60A5FA;
}
#ul-wrapper {
    margin-left: auto;
}
#navbar a {
    color: #60A5FA;
    position: relative;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}
#navbar a:hover {
    color: #93C5FD;
    transition: .3s ease;
}
#navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #93C5FD;
    transition: width 0.3s ease;
}
#navbar a:hover::after {
    width: 100%;
}
#linkedInImg {
    width: 35px;
    border-radius: 5px;
}
main {
    padding: 0 10px;
    margin-bottom: 1rem;
}
#title {
    margin: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(223, 223, 223, 0.733), transparent);
    border-image-slice: 1;
}
#body-wrapper {
    display: flex;
    justify-content: center;
    gap: 50px;
}
#text-wrapper {
    width: 50%;
    font-size: 20px;
    line-height: 1.75;
    font-weight: 500;
    padding: 10px;
}
#techy-bg {
    width: 50%;
    max-width: 600px;
    opacity: 0.5;    
    margin: 0;      
}
#footer-name {
    margin: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, rgba(213, 213, 213, 0.186), transparent) 1;
    border-image-slice: 1;
}
footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #202f3e, #27333eb1);
    box-shadow: 0 8px 10px 6px rgba(0, 0, 0, 0.681);
    color:#9CA3AF;  
    padding: 10px; 
    align-items: center; 
    margin-top: 4rem;
}
footer a {
    color: #9CA3AF;
    text-decoration: none;
}
@media (max-width: 900px) {
    #title {
        margin-left: 0;
        text-align: center;
        font-size: 2.5rem; 
        margin-bottom: 20px;
    }
    #body-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0 20px;
    }
    #techy-bg {
        width: 80%;
        max-width: 400px;
        opacity: 0.3;
    }
    #text-wrapper {
        width: 90%;
        max-width: 600px;
        font-size: 18px;
        line-height: 1.7;
        text-align: left;
    }
    #ul-wrapper ul {
        flex-direction: column;
        gap: 5px;
        padding: 0;
    }
    footer {
        align-items: center;
        text-align: center;
        gap: 5px;
    }
}

